<?xml version="1.0"?><ruleset name="WP FixPilot"><description>WP FixPilot coding standards.</description><file>wp-fixpilot.php</file><file>includes</file><exclude-pattern>vendor/*</exclude-pattern><rule ref="PSR12"/></ruleset>